/*Працюємо з відступами сторінки і хедеру*/
body {
	margin: 0;
	padding: 0;
}
header {
	margin: 10px;
	margin-top: 15px;
	background-color: white;
}
/*Працюємо з відступами сторінки і хедеру*/

/*Оформлення елементів хедеру*/
#logo {
	color: #195C8A;
	display: inline;
	margin-left: 12px;
}
.contacts {
	display: inline;
	margin-left: 700px;
	font-family: "Arial Rounded MT Bold";
	color: #3D3C3C;
	font-size: 18pt;
}
.number2 {
	margin-left: 20px;
}
.gmail {
	margin-left: 20px;
}
.date {
	display: inline-block;
	margin-left: 150px;
	font-family: "Myriad Pro Bold";
	vertical-align: middle;
}
.schedule, .day, .time {
	display: inline;
;
}
.schedule {
	color: #132D3A;
	font-size: 15pt;
}
.day {
	color: #224252;
	font-size: 13pt;
}
.time {
	color: #3D3C3C;
	font-size: 13pt;
}
/*Оформлення елементів хедеру*/

/*Оформлення головного навігаційного меню*/
.navigation {
	background-color: #132D3A;
	height: 100px;
}
/*Робимо список по горизонталі(розділи)*/
.list {
	margin: 0;
	padding: 0;
	margin-left: 250px;
	color: #AEAEAE;
	font-family: "Myriad Pro Bold";
	font-size: 20pt;
	position: relative;
}
.links_pages,
.links_pages:hover {
	color: #AEAEAE;
	text-decoration: none;
}
/*Надаємо розділам стилі*/
.links_pages {
	width: 300px;
	text-align: center;
	height: 100px;
	line-height: 100px;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.links_pages.StepToMain {
	display: inline-block;
	width: 300px;
	height: 100px;
}
.list li {
	display: inline;
	padding: 0;
}
.navigation ul li {
	display: inline-block;
}
.Alarm ul {
	display: none;
}
/*Робота з розділами при наведенні(дропдаун)*/
.Alarm:hover {
	background-color: #224153;
}
.Alarm:hover ul {
	display: block;
	position: absolute;
	font-family: inherit;
	background-color: #224153;
	padding: 0;
}
.Alarm:hover li {
	display: block;
	margin: 0;
	width: 300px;
	line-height: 1.2;
	font-size: 18pt;
	padding: 15px 0;
}
.Alarm ul li a {
	text-decoration: none;
	color: #AEAEAE;
}
.VideoSecurity ul{
	display: none;
}
.VideoSecurity:hover {
	background-color: #224153;
}
.VideoSecurity:hover ul {
	display: block;
	position: absolute;
	font-family: inherit;
	background-color: #224153;
	padding: 0;
}
.VideoSecurity:hover li {
	display: block;
	margin: 0;
	width: 300px;
	line-height: 1.5;
	font-size: 18pt;
	padding: 15px 0;
}
.VideoSecurity ul li a {
	text-decoration: none;
	color: #AEAEAE;
}
.AlarmOptions:hover,
.VideoSecurityOptions:hover {
	background-color: #132D3A;
}
/*Робота з розділами при наведенні(дропдаун)*/

/*Оформлюємо головний пошук сайту*/
.main_search {
	background-color: #224252;
	color: #AEAEAE;
	border: 0;
	border-radius: 10px;
	padding: 15px;
	font-family: "Myriad Pro Regular";
	font-size: 17px;
	margin-left: 50px;
}
.main_search:focus {
	outline: none;
	border: 0;
}
.main_search::-webkit-search-decoration,
.main_search::-webkit-search-cancel-button,
.main_search::-webkit-search-results-button,
.main_search::-webkit-search-results-decoration { 
	display: none; 
}
.main_search::-webkit-input-placeholder {
	color: #AEAEAE;
}
.main_search:-moz-placeholder {
	color: #AEAEAE;
}
.main_search:-ms-input-placeholder {
	color: #AEAEAE;
}
/*Оформлюємо головний пошук сайту*/
/*Оформлення головного навігаційного меню*/

/*Оформлення відстеження твого місцезнаходження на сайті*/
.steps {
	font-size: 15pt;
	margin-left: 100px;
	margin-top: 10px;
	color: #B7B7B7;
	font-family: "Arial";
	font-weight: bold;
}
.steps a {
	text-decoration: none;
	color: #B7B7B7;
}
.steps a:last-child {
	color: #3591C0;	
}
/* Оформлення товарів, якими набиваємо сайт */
figcaption p {
	margin: 0;
}
.name {
	font-family: "Arial";
	font-weight: bold;
	font-size: 25px;
}
.name a {
	color: #3F3D3D;
	text-decoration: none;
}
.name a:hover {
	text-decoration: underline;
	color: #3591C0;	
}
.art {
	color: #7A7979;
	font-family: "Myriad Pro";
	font-style: italic;
	font-size: 15px;
}
.price {
	color: #195C8A;
	font-family: "Myriad Pro Bold";
	font-size: 30px;
}
/* Робимо відступи і розприділяємо вільне місце між товарами так, щоб получилось 5 рядів по 5 товарів на 1 сторінку */
main {
	display: flex;
	flex-wrap: wrap; 
}
figure {
	margin-left: 163px;
}
/* Робимо відступи і розприділяємо вільне місце між товарами так, щоб получилось 5 рядів по 5 товарів на 1 сторінку */

/* Розмітка фотографій */
figure>div {
	width: 150px;
	height: 150px;
}
/* Оформлення товарів, якими набиваємо сайт */

/* Робимо по центру сторінки внизу сторінки, між якими будемо переключатись для перегляду товарів */
.product-pages {
	display: flex;
	justify-content: center;
	font-family: "Myriad Pro";
	font-size: 25px;
}
.product-pages li {
	display: inline-block;
	padding: 15px;
	
}
.product-pages li a {
	text-decoration: none;
	color: #3F3D3D;
}
.pages-numbers.now a {
	color: #195C8A;
}
/* Оформлення стрілок */
.arrow {
	border: solid #3F3D3D;;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.left-arrow {
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right-arrow {
	transform: rotate(135deg);
    -webkit-transform: rotate(-45deg);
}
/* Оформлення стрілок */
/* Робимо по центру сторінки внизу сторінки, між якими будемо переключатись для перегляду товарів */

/*Шрифти*/
@font-face {
font-family: "Arial Rounded MT Bold";  
src: url("../../../Fonts/Contacts.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "Myriad Pro Bold";  
src: url("../../../Fonts/Date.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "Myriad Pro Regular";  
src: url("../../../Fonts/MyriadProRegular.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
}
/*Шрифти*/