body {
	margin: 0;
	padding: 0;
}
header {
	margin: 10px 10px 10px 0;
	background-color: white;
}
.header_numbers {
	font-family: "Times New Roman";
	font-size: 1.5vw; /*30px*/
	font-weight: bold;
	display: inline-block;
	float: right;
	margin-top: 1%;
	line-height: 1.2;
	margin-right: 1%; /* 50px */
	color: #294E61;
}

.logo {
	margin-left: 2%; /*40px*/
	width: 11.7%; /*220px*/
	height: 100%; /*100px*/
	display: inline-block;
}

.logo img {
	width: 100%;
	height: 100%;
}

.main_navigation {
	display: block;
}
.catalog {
	vertical-align: top;
	display: inline-block;
	margin-left: 2.6%; 
	width: 10%;
}
.catalogbtn {
	display: inline-block;
	color: white;
	padding: 5%; /*10px*/
	background-color: #294E61;
	text-align: center;
	font-family: "Yu gothic UI";
	font-weight: 600;
	font-size: 1.4vw; /*25px*/
	line-height: 2;
	position: relative;
	outline: none;
	border: 0;
	height: 3.7vw;
	width: 100%;
}
/* main_form.height < catalogbtn.height */
.main_form {
	display: inline-block;
	margin-left: 0.5%; /*10px*/
	border: 0.16vw solid #666666;/**/
	background-color: white;
	vertical-align: middle;
	height: 3.5vw;
	width: 85%;
}
.main_search {
	float: left;
	width: 80%;
	border: 0;
	padding: 0;
	font-family: "Yu gothic UI";
	font-size: 1.4vw; /*25px*/
	margin-left: 10px;
	font-weight: 600;
	color: #B2B1B1;
	height: 3.5vw;
}
.main_search::placeholder {
	color: #B2B1B1;
}
.main_search:focus {
	outline: none;
	border: none;
}
.main_search::-webkit-search-decoration,
.main_search::-webkit-search-cancel-button,
.main_search::-webkit-search-results-button,
.main_search::-webkit-search-results-decoration { 
	display: none; 
}
.button_search {
	float: right;
	width: 10%;
	margin-top: -0.16vw;
	margin-right: -0.16vw;
	height: 3.82vw;
	padding: 0;
	font-family: "Yu gothic UI";
	font-weight: 600;
	font-size: 1.4vw;
	color: white;
	border: none;
	background-color: #294E61;
	/* width: 175px; */
}

nav .list a {
	text-decoration: none;
	color: #4B4B4B;
}
.list {
	display: none;
	position: absolute;
	background-color: white;
}
.catalog:hover ul {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 2;
	font-family: inherit;
	color: white;
	font-family: "Arial";
	font-weight: bold;
	font-size: 1.3vw; /*23px*/
	background-color: #294E61;
	z-index: 100;
}
.list>li {
	position: relative;
}
.list li span {
	padding: 5px;
	padding-left: 10px;
	display: inline-block;
	width: 300px;
}
.list>li:hover {
	background-color: #224153;
}
.list li ul {
	position: absolute;
	top: -9999em;
	opacity: 0;
}
.list li:hover ul {
	opacity: 1;
	top: 0;
	margin-left: 0;
	width: 355px;
	left: 100%;
	font-family: inherit;
	font-size: 1.3vw; /*23px*/
	padding: 0;
	background-color: #294E61;
	list-style-type: none;
}
.list li ul li a {
	color: white;
}
.list li ul li {
	padding: 5px;
	padding-left: 10px;
}
.list li ul li:hover {
	background-color: #224153;
}
pre {
	display: inline;
}

a:focus {
	outline: none;
	border: none;
}
.steps {
	font-size: 1.1vw; /* 15pt */
	margin-left: 2.6%; /* 50px */
	margin-top: 10px;
	color: #B7B7B7;
	font-family: "Arial";
	font-weight: bold;
}
.steps a {
	text-decoration: none;
	color: #B7B7B7;
}
.steps a:last-child {
	color: #3591C0;	
}
/* Оформлення товарів, якими набиваємо сайт */
figcaption p {
	margin: 0;
}
.name {
	font-family: "Arial";
	font-weight: bold;
	font-size: 1.3vw; /* 25px */
}
.name a {
	color: #3F3D3D;
	text-decoration: none;
}
.name a:hover {
	text-decoration: underline;
	color: #3591C0;	
}
.art {
	color: #7A7979;
	font-family: "Myriad Pro";
	font-style: italic;
	font-size: 0.8vw; /* 15px */ 
}
.price {
	color: #195C8A;
	font-family: "Myriad Pro Bold";
	font-size: 1.6vw; /* 30px */
}
/* Робимо відступи і розприділяємо вільне місце між товарами так, щоб получилось 5 рядів по 5 товарів на 1 сторінку */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* Робимо відступи і розприділяємо вільне місце між товарами так, щоб получилось 5 рядів по 5 товарів на 1 сторінку */

/* Розмітка фотографій */
figure>div {
	width: 7vw;
	height: 7vw;
}
figure {
	margin: 16px 3vw;
}
figure>div>a>img {
	width: 100%;
	height: 100%;
}
figure figcaption p a {
	width: 11vw; /* 200px */
	display: inline-block;	
}

/* Оформлення товарів, якими набиваємо сайт */

/* Робимо по центру сторінки внизу сторінки, між якими будемо переключатись для перегляду товарів */
.product-pages {
	display: flex;
	justify-content: center;
	font-family: "Myriad Pro";
	font-size: 1.3vw; /* 25px */
}
.product-pages li {
	display: inline-block;
	padding: 15px;
	
}
.product-pages li a {
	text-decoration: none;
	color: #3F3D3D;
}
.pages-numbers.now a {
	color: #195C8A;
}
/* Оформлення стрілок */
.arrow {
	border: solid #3F3D3D;;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.3vw; /* 5px */
}
.left-arrow {
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right-arrow {
	transform: rotate(135deg);
    -webkit-transform: rotate(-45deg);
}
/* Оформлення стрілок */
/* Робимо по центру сторінки внизу сторінки, між якими будемо переключатись для перегляду товарів */

/*Шрифти*/
@font-face {
font-family: "Arial Rounded MT Bold";  
src: url("../../../Fonts/Contacts.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "Myriad Pro Bold";  
src: url("../../../Fonts/Date.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "Myriad Pro Regular";  
src: url("../../../Fonts/MyriadProRegular.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
}
/*Шрифти*/

@media screen and (max-width: 600px) {
/*Випадаюче меню*/
	.catalog:hover .list {
		font-size: 5vw;
		width: 100%;
		padding-bottom: 1vw;
		position: relative;
	}

	.list li ul {
		display: none;
	}
/*Випадаюче меню*/
/*Хедер*/
	header {
		margin-bottom: 0;
	}
	.logo {
		width: 40%;
	}
	.header_numbers {
		font-size: 6vw;
	}
/*Хедер*/

/*Навігаційне меню*/
	.main_navigation {
	display: flex;
    flex-wrap: wrap;
	}
	.catalog {
		flex-basis: 100%;
		margin-left: 0;
		order: 1;
		margin-top: 10px;
	}
	.catalogbtn {
		height: 15vw;
		font-size: 6vw;
		padding: 5px;
	}
	.main_form {
		margin-top: 10px;
		flex-basis: 100%;
		margin-left: 0;
		height: 15vw;
		border: 3px solid #666666;
	}
	.main_search {
		font-size: 5vw;
		height: 15vw;
		width: 60%;
	}
	.button_search {
		font-size: 5vw;
		height: 15.32vw;
		width: 35%;
	}
	.steps {
		font-size: 5vw;
	}
	.steps a {
		padding-top: 3px;
		display: inline-block; 
	}

/*Навігаційне меню*/


/*Карточки товарів*/

	.name {
		font-size: 4vw;
	}
	.art {
		font-size: 2.8vw;
		
	}
	.price {
		font-size: 5vw;
	}
	.name a {
		width: 25vw;
	}

	figure > div {
		width: 20vw;
		height: 20vw;
		margin: 0;
	}

/*Карточки товарів*/

/*Навігація сторінок з товарами (стрілки)*/

	.product-pages {
		font-size: 4vw;
		padding: 0;
	}
	.product-pages li {
		padding: 4vw;
	}
	.arrow {
		padding: 1vw;
	}


/* Навігація сторінок з товарами (стрілки) */

}