body {
	margin: 0;
	padding: 0;
}
header {
	margin: 10px;
	background-color: white;
}
.header_numbers {
	font-family: "MS Gothic";
	font-size: 30px;
	display: inline-block;
	float: right;
	margin-top: 15px;
	line-height: 1.2;
	margin-right: 50px;
	color: #294E61;
}

.logo {
	margin-left: 40px;
	width: 220px;
	height: 100px;
	display: inline-block;
}
.catalog {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}
.catalogbtn {
	display: inline-block;
	color: white;
	padding: 10px;
	background-color: #294E61;
	width: 230px;
	text-align: center;
	font-family: "Yu gothic UI";
	font-weight: 600;
	font-size: 25px;
	line-height: 2;
	position: relative;
	outline: none;
	border: 0;
}

.main_form {
	display: inline-block;
	margin-left: 38px;
	border: 3px solid #666666;
	background-color: white;
	vertical-align: middle;
}
.main_search {
	border: 0;
	padding: 0;
	font-family: "Yu gothic UI";
	font-size: 25px;
	margin-left: 10px;
	font-weight: 600;
	color: #B2B1B1;
}
.main_search::placeholder {
	color: #B2B1B1;
}
.main_search:focus {
	outline: none;
	border: none;
}
.main_search::-webkit-search-decoration,
.main_search::-webkit-search-cancel-button,
.main_search::-webkit-search-results-button,
.main_search::-webkit-search-results-decoration { 
	display: none; 
}
.button_search {
	padding: 15px;
	font-family: "Yu gothic UI";
	font-weight: 600;
	font-size: 25px;
	color: white;
	border: none;
	background-color: #294E61;
	width: 175px;
}

nav .list a {
	text-decoration: none;
	color: #4B4B4B;
}
.list {
	display: none;
	position: absolute;
	background-color: white;
}
.catalog:hover ul {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 2;
	font-family: inherit;
	color: white;
	font-family: "Arial";
	font-weight: bold;
	font-size: 23px;
	background-color: #294E61;
	z-index: 100;
}
.list>li {
	position: relative;
}
.list li span {
	padding: 5px;
	padding-left: 10px;
	display: inline-block;
	width: 300px;
}
.list>li:hover {
	background-color: #224153;
}
.list li ul {
	position: absolute;
	top: -9999em;
	opacity: 0;
}
.list li:hover ul {
	opacity: 1;
	top: 0;
	margin-left: 0;
	width: 355px;
	left: 100%;
	font-family: inherit;
	font-size: 23px;
	padding: 0;
	background-color: #294E61;
	list-style-type: none;
}
.list li ul li a {
	color: white;
}
.list li ul li {
	padding: 5px;
	padding-left: 10px;
}
.list li ul li:hover {
	background-color: #224153;
}
pre {
	display: inline;
}

a:focus {
	outline: none;
	border: none;
}
.steps {
	font-size: 15pt;
	margin-left: 50px;
	margin-top: 10px;
	color: #B7B7B7;
	font-family: "Arial";
	font-weight: bold;
}
.steps a {
	text-decoration: none;
	color: #B7B7B7;
}
.steps a:last-child {
	color: #3591C0;	
}

.heading_slider {
	color: #414040;
	margin-left: 318px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
}

/* Слайдер */
.slick-slider {
	position: relative;
	width: 100%;
}
.slick-slider img {
	width: 175px;
	height: 175px;
}
.slick-slider .product_name {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin: 5px 0;
}
.slick-slider .product_price {
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #215676;
	margin: 5px 0;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}

/* Слайд */
.slick-slide{
	text-align: center;
}
.slick-slide:focus {
	outline: none;
	border: none;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow {
	font-size: 0;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	z-index: 10;
	border: none;
	outline: none;
	width: 60px;
	height: 100px;
	padding: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
	left: 25px;
	background: url('Slider JS/Left Arrow.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
	right: 25px;
	background: url('Slider JS/Right Arrow.png') 0 0 / 100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slick-dots {
	display: flex;
	justify-content: center;
}
.slick-dots li {
	display: inline-block;
	margin: 0 10px;
	list-style-type: none;
}
/* Активная точка */
.slick-dots li.slick-active button {
	font-size: 0;
	background-color: black;
	border: 1px solid black;
	border-radius: 15px;
	height: 15px;
	width: 15px;
}
.slick-dots li button:focus {
	outline: none;
	border: none;
}

/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	background-color: white;
	border: 1px solid black;
	border-radius: 15px;
	height: 15px;
	width: 15px;
}
