body {
	margin: 0;
	padding: 0;
}
header {
	margin: 10px;
	background-color: white;
}
.header_numbers {
	font-family: "MS Gothic";
	font-size: 30px;
	display: inline-block;
	float: right;
	margin-top: 15px;
	line-height: 1.2;
	margin-right: 30px;
	color: #294E61;
}

.logo {
	margin-left: 40px;
	width: 220px;
	height: 100px;
	display: inline-block;
}
.catalog {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	/* margin-left: 0; */
}
.catalogbtn {
	display: inline-block;
	color: white;
	padding: 10px;
	background-color: #294E61;
	width: 230px;
	text-align: center;
	font-family: "Yu gothic UI";
	font-weight: 600;
	font-size: 25px;
	line-height: 2;
	position: relative;
	outline: none;
	border: 0;
}

.main_form {
	display: inline-block;
	margin-left: 38px;
	border: 3px solid #666666;
	background-color: white;
	vertical-align: middle;
}
.main_search {
	border: 0;
	padding: 0;
	font-family: "Yu gothic UI";
	font-size: 25px;
	margin-left: 10px;
	font-weight: 600;
	color: #B2B1B1;
}
.main_search::placeholder {
	color: #B2B1B1;
}
.main_search:focus {
	outline: none;
	border: none;
}
.main_search::-webkit-search-decoration,
.main_search::-webkit-search-cancel-button,
.main_search::-webkit-search-results-button,
.main_search::-webkit-search-results-decoration { 
	display: none; 
}
.button_search {
	padding: 15px;
	font-family: "Yu gothic UI";
	font-weight: 600;
	font-size: 25px;
	color: white;
	border: none;
	background-color: #294E61;
	width: 175px;
}

nav .list a {
	text-decoration: none;
	color: #4B4B4B;
}
.list {
	display: none;
	position: absolute;
	background-color: white;
}
.catalog:hover ul {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 2;
	font-family: inherit;
	/*margin-left: 10px;*/
	/*color: #4B4B4B;*/
	color: white;
	font-family: "Arial";
	font-weight: bold;
	font-size: 23px;
	background-color: #294E61;
}
.list>li {
	position: relative;
}
.list li span {
	padding: 5px;
	padding-left: 10px;
	display: inline-block;
	width: 300px;
}
.list>li:hover {
	background-color: #224153;
}
.list li ul {
	position: absolute;
	top: -9999em;
	opacity: 0;
}
.list li:hover ul {
	opacity: 1;
	top: 0;
	margin-left: 0;
	width: 355px;
	left: 100%;
	font-family: inherit;
	font-size: 23px;
	padding: 0;
	background-color: #294E61;
	list-style-type: none;
}
.list li ul li a {
	color: white;
}
.list li ul li {
	padding: 5px;
	padding-left: 10px;
}
.list li ul li:hover {
	background-color: #224153;
}
pre {
	display: inline;
}
/*Оформлення відстеження твого місцезнаходження на сайті*/
.steps {
	font-size: 15pt;
	margin-left: 50px;
	margin-top: 10px;
	color: #B7B7B7;
	font-family: "Arial";
	font-weight: bold;
}
.steps a {
	text-decoration: none;
	color: #B7B7B7;
}
.steps a:last-child {
	color: #3591C0;	
}
/*Оформлення відстеження твого місцезнаходження на сайті*/

/*Оформлення головної частини сторінки товару*/

/*Надаємо ділення сторінки на 3 частини*/
.product{
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin-top: 50px;
}
/*Надаємо ділення сторінки на 3 частини*/

/*Розмітка фотографії*/
.img-info img,
.testImg {
	width: 450px;
	height: 450px;
}
/*Розмітка фотографії*/

/*Надаємо стилі ціні, дзвінку*/
.price {
	color: #195C8A;
	font-family: "Myriad Pro Bold";
	font-size: 40px;
	margin: 0;
	margin-left: 150px;
	margin-bottom: 40px;
	margin-top: 10px;
}
.call {
	color: #3F3D3D;
	font-size: 35px;
	margin: 0;
	font-family: "Arial";
	font-weight: bold;
}
/*Надаємо стилі ціні, дзвінку*/

/*Надаємо стилі центральній частині сторінки товару*/
.name {
	color: #3F3D3D;
	font-size: 50px;
	font-family: "Arial";
	font-weight: bold;
	margin: 0;
}
.art {
	color: #7A7979;
	margin: 0;
	font-family: "Myriad Pro";
	font-style: italic;
}
.char h3 {
	font-family: "Arial";
	font-weight: bold;
	color: #3F3D3D;
	font-size: 30px;
}
.info {
	font-family: "Arial";
	color: #3D3B3B;
	line-height: 1.5;
	font-size: 20px;
}
/*Надаємо стилі центральній частині сторінки товару*/

/*Оформлення переглянутих товарів*/
.last-products {
	color: #3F3D3D;
	font-family: "Arial";
	font-weight: bold;
	font-size: 20px;
}
figure img {
	width: 150px;
	height: 150px;
}
.ImgMarkup {
	width: 150px;
	height: 150px;
}
figure {
	margin-left: 70px;
	width: 183px;
	height: 206px;
}
.first figcaption a {
	color: #3F3D3D;
	text-decoration: none;
	margin-left: 30px;
}
.second figcaption a {
	color: #3F3D3D;
	text-decoration: none;
	margin-left: 20px;
}
.third figcaption a {
	color: #3F3D3D;
	text-decoration: none;
}
.first p {
	color: #195C8A;
	margin: 0;
	margin-left: 30px;
	margin-top: 5px;
}
.second p {
	color: #195C8A;
	margin: 0;
	margin-left: 35px;
	margin-top: 5px;
}
.third p {
	color: #195C8A;
	margin: 0;
	margin-top: 5px;
	margin-left: 35px;
}
/* Оформлення переглянутих товарів */

/*Шрифти*/
@font-face {
font-family: "Arial Rounded MT Bold";  
src: url("../../Fonts/Contacts.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "Myriad Pro Bold";  
src: url("../../Fonts/Date.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "Myriad Pro Regular";  
src: url("../../Fonts/MyriadProRegular.otf") format("opentype"); 
font-style: normal; 
font-weight: normal;
}
/*Шрифти*/